In [1]:
import pandas as pd

In [2]:
data_2015to2019 = pd.read_csv('../Resources/FINAL_MERGE_df.csv')

In [5]:
data_2015to2019.head()

,ITIN_ID,COUPONS,YEAR,ORIGIN_AIRPORT_ID,QUARTER,ORIGIN,DEST_AIRPORT_ID,DEST,TICKET_CARRIER,OPERATING_CARRIER,REPORTING_CARRIER,PASSENGERS,FARE_CLASS,DISTANCE_GROUP,ITIN_GEO_TYPE,ROUNDTRIP,ITIN_FARE,MILES_FLOWN
0,201917768,2,2019,14492,1,RDU,10529,BDL,DL,9E,9E,3.0,Y,2,2.0,1.0,11.0,1064.0
1,201917769,2,2019,14492,1,RDU,10529,BDL,DL,9E,9E,1.0,X,2,2.0,1.0,28.0,1064.0
2,201917770,2,2019,14492,1,RDU,10529,BDL,DL,9E,9E,1.0,X,2,2.0,1.0,159.0,1064.0
3,201917771,2,2019,14492,1,RDU,10529,BDL,DL,9E,9E,2.0,X,2,2.0,1.0,176.0,1064.0
4,201917772,2,2019,14492,1,RDU,10529,BDL,DL,9E,9E,3.0,X,2,2.0,1.0,196.0,1064.0