In [1]:
import pandas as pd

In [2]:
# Read in data from years 2015 to 2019

data_2015to2019 = pd.read_csv('../Resources/FINAL_MERGE_df.csv')

In [3]:
# Count datapoints before checking for null values

data_2015to2019.count()

ITIN_ID              463790
COUPONS              463790
YEAR                 463790
ORIGIN_AIRPORT_ID    463790
QUARTER              463790
ORIGIN               463790
DEST_AIRPORT_ID      463790
DEST                 463790
TICKET_CARRIER       463790
OPERATING_CARRIER    463790
REPORTING_CARRIER    463790
PASSENGERS           463790
FARE_CLASS           463790
DISTANCE_GROUP       463790
ITIN_GEO_TYPE        463790
ROUNDTRIP            463790
ITIN_FARE            463790
MILES_FLOWN          463790
dtype: int64

In [4]:
# Drop null values if they exist (none exist) and count records

data_2015to2019.dropna().count()

ITIN_ID              463790
COUPONS              463790
YEAR                 463790
ORIGIN_AIRPORT_ID    463790
QUARTER              463790
ORIGIN               463790
DEST_AIRPORT_ID      463790
DEST                 463790
TICKET_CARRIER       463790
OPERATING_CARRIER    463790
REPORTING_CARRIER    463790
PASSENGERS           463790
FARE_CLASS           463790
DISTANCE_GROUP       463790
ITIN_GEO_TYPE        463790
ROUNDTRIP            463790
ITIN_FARE            463790
MILES_FLOWN          463790
dtype: int64

In [5]:
# Remove ITIN ID column. This was used in cleaning and primarily used for databases. Should not affect data

data_2015to2019 = data_2015to2019.drop(['ITIN_ID','ORIGIN','ORIGIN_AIRPORT_ID','DEST_AIRPORT_ID','COUPONS','ROUNDTRIP', 'OPERATING_CARRIER', 'REPORTING_CARRIER'], axis=1)
data_2015to2019.head()

,YEAR,QUARTER,DEST,TICKET_CARRIER,PASSENGERS,FARE_CLASS,DISTANCE_GROUP,ITIN_GEO_TYPE,ITIN_FARE,MILES_FLOWN
0,2019,1,BDL,DL,3.0,Y,2,2.0,11.0,1064.0
1,2019,1,BDL,DL,1.0,X,2,2.0,28.0,1064.0
2,2019,1,BDL,DL,1.0,X,2,2.0,159.0,1064.0
3,2019,1,BDL,DL,2.0,X,2,2.0,176.0,1064.0
4,2019,1,BDL,DL,3.0,X,2,2.0,196.0,1064.0

In [10]:
yy = data_2015to2019['ITIN_FARE']
yy_sample = yy.sample(n=100)
yy_sample

218406    288.0
110685    384.0
128133    370.0
185740    162.0
138520    324.0
          ...
54533     182.0
160509    611.0
418947    538.0
347901    221.0
67967     366.0
Name: ITIN_FARE, Length: 100, dtype: float64

In [17]:
binned_data = []

for data in yy_sample:
    if data < 100:
        print("100 or less")
    elif data >= 100 and data < 150:
        print("100-150")
    elif data >= 150 and data < 200:
        print("150-200")
    elif data >= 200 and data < 250
    else:
        print("try again loser!")

250-400
250-400
250-400
250 less
250-400
250 less
try again loser!
250-400
try again loser!
250-400
try again loser!
250 less
try again loser!
250-400
try again loser!
250 less
250 less
try again loser!
try again loser!
250-400
250 less
250 less
try again loser!
250-400
try again loser!
250-400
250-400
try again loser!
250-400
250-400
try again loser!
250-400
250 less
try again loser!
250-400
250-400
250-400
try again loser!
250-400
250-400
250 less
try again loser!
250 less
250-400
try again loser!
250 less
try again loser!
250-400
try again loser!
try again loser!
try again loser!
try again loser!
250-400
try again loser!
250-400
250-400
try again loser!
try again loser!
try again loser!
250 less
try again loser!
250-400
250 less
250-400
250-400
try again loser!
try again loser!
try again loser!
250 less
try again loser!
try again loser!
try again loser!
250-400
250 less
try again loser!
try again loser!
try again loser!
try again loser!
try again loser!
try again loser!
try again loser!
try again loser!
250-400
250 less
250-400
250 less
250-400
250-400
try again loser!
try again loser!
try again loser!
250-400
try again loser!
try again loser!
try again loser!
250 less
try again loser!
try again loser!
250 less
250-400

In [23]:
shrink_dada = data_2015to2019.sample(n=20000)

In [24]:
# Defined independent (X) variables and dependent variable (y) for the model

X = shrink_dada.drop(columns=['ITIN_FARE'])
y = shrink_dada['ITIN_FARE']
print(X.shape,y.shape)

(20000, 9) (20000,)

In [25]:
data_numerical_X = pd.get_dummies(X)
X = data_numerical_X
X

,YEAR,QUARTER,PASSENGERS,DISTANCE_GROUP,ITIN_GEO_TYPE,MILES_FLOWN,DEST_ABQ,DEST_ALB,DEST_ATL,DEST_AUS,...,TICKET_CARRIER_UA,TICKET_CARRIER_US,TICKET_CARRIER_VX,TICKET_CARRIER_WN,FARE_CLASS_C,FARE_CLASS_D,FARE_CLASS_F,FARE_CLASS_G,FARE_CLASS_X,FARE_CLASS_Y
104324,2019,4,3.0,3,2.0,2872.0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
133949,2018,1,1.0,1,2.0,674.0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
222990,2017,1,1.0,1,2.0,260.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
449772,2015,4,1.0,2,2.0,1960.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
106484,2019,4,3.0,1,2.0,510.0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197889,2018,4,1.0,5,2.0,4478.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
415184,2015,2,2.0,1,2.0,510.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
399256,2015,1,1.0,1,2.0,674.0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
143862,2018,2,6.0,2,2.0,1002.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
251713,2017,2,1.0,2,2.0,1174.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [26]:
# From SKlearn import RandomForestClassifier for purpose of identifying important variables

from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=100)
rf = rf.fit(X,y)
rf.score(X,y)

0.3065

In [27]:
importances = rf.feature_importances_
importances_mapped = sorted(zip(importances , X), reverse=True)
importances_mapped

[(0.3546633492688395, 'PASSENGERS'),
 (0.24473721538618345, 'QUARTER'),
 (0.23523573404288742, 'YEAR'),
 (0.02608331822901617, 'MILES_FLOWN'),
 (0.008786408738443807, 'DISTANCE_GROUP'),
 (0.008092528426401239, 'TICKET_CARRIER_DL'),
 (0.007513597055158144, 'FARE_CLASS_X'),
 (0.006858849114466787, 'FARE_CLASS_Y'),
 (0.005182208228379001, 'TICKET_CARRIER_AA'),
 (0.0039721194987937265, 'TICKET_CARRIER_WN'),
 (0.003867647877445814, 'DEST_MCO'),
 (0.0034637128808099964, 'FARE_CLASS_G'),
 (0.003130352821282168, 'DEST_ATL'),
 (0.0030700423264418803, 'DEST_PHL'),
 (0.0030594727764259376, 'DEST_TPA'),
 (0.0029668398246836107, 'DEST_ORD'),
 (0.0026344378112452996, 'DEST_BOS'),
 (0.002624187470268275, 'TICKET_CARRIER_UA'),
 (0.0026219018990085185, 'FARE_CLASS_D'),
 (0.0026156291511881717, 'DEST_JFK'),
 (0.0026140094228899874, 'DEST_LGA'),
 (0.00256321877571987, 'DEST_FLL'),
 (0.0025096907969079005, 'FARE_CLASS_F'),
 (0.002413380836476043, 'DEST_EWR'),
 (0.002411538146483065, 'TICKET_CARRIER_F9'),
 (0.002294479769042334, 'DEST_DEN'),
 (0.0022912712263937684, 'DEST_BWI'),
 (0.0022873588147065416, 'DEST_BNA'),
 (0.0020358390371264896, 'DEST_DCA'),
 (0.0020307469068840504, 'DEST_MIA'),
 (0.001912858418418865, 'DEST_CVG'),
 (0.001730503261610253, 'DEST_CLE'),
 (0.001643070797726014, 'DEST_MDW'),
 (0.0015677898427448778, 'DEST_DTW'),
 (0.001565611009717861, 'DEST_MSY'),
 (0.0014821288884248364, 'TICKET_CARRIER_US'),
 (0.0014357521309257201, 'DEST_STL'),
 (0.0013846884939478184, 'DEST_CMH'),
 (0.0013455516786364103, 'DEST_BDL'),
 (0.001298756251258696, 'DEST_LAX'),
 (0.001236460371860385, 'DEST_LAS'),
 (0.0012122530842943416, 'TICKET_CARRIER_B6'),
 (0.001210172009038672, 'DEST_IAH'),
 (0.0011447345252026397, 'DEST_AUS'),
 (0.001105454386670663, 'DEST_MCI'),
 (0.0010817152203973545, 'TICKET_CARRIER_AS'),
 (0.0010650958581278638, 'DEST_SEA'),
 (0.0010508478538389413, 'DEST_MSP'),
 (0.0010404018681301637, 'FARE_CLASS_C'),
 (0.0009890618077359374, 'DEST_SFO'),
 (0.0009732675026665219, 'DEST_IND'),
 (0.0009214394401499436, 'DEST_DAL'),
 (0.000916586552553604, 'DEST_DFW'),
 (0.000913136842882001, 'DEST_PHX'),
 (0.0009089902276031609, 'DEST_HOU'),
 (0.0009076708042364089, 'TICKET_CARRIER_NK'),
 (0.0009021441890426203, 'DEST_IAD'),
 (0.0008665629848198088, 'DEST_TTN'),
 (0.0008384616973847538, 'DEST_PIT'),
 (0.0007816607404673826, 'TICKET_CARRIER_G4'),
 (0.0005939228921220607, 'DEST_ISP'),
 (0.0005789824634912806, 'DEST_PWM'),
 (0.0005267242619336728, 'DEST_MKE'),
 (0.0005230625610961142, 'DEST_SLC'),
 (0.0005039269088455419, 'DEST_SAT'),
 (0.0004951442177422525, 'DEST_PVD'),
 (0.0004696715823363279, 'DEST_PGD'),
 (0.0004600837235653237, 'DEST_SAN'),
 (0.00045599076403790594, 'DEST_RSW'),
 (0.0004342329467637841, 'DEST_SFB'),
 (0.0004337428056262269, 'DEST_PIE'),
 (0.00042653291026062325, 'DEST_JAX'),
 (0.0004143855423686287, 'DEST_CLT'),
 (0.00041298253902367546, 'DEST_SJU'),
 (0.000402020156814706, 'DEST_BUF'),
 (0.000400910029640902, 'DEST_ALB'),
 (0.00040000857276286907, 'ITIN_GEO_TYPE'),
 (0.0003633498585080853, 'DEST_SYR'),
 (0.00031356292290354127, 'DEST_PBI'),
 (0.00017636652060474756, 'DEST_MDT'),
 (0.00017567263152364865, 'DEST_SJC'),
 (0.0001601286280473459, 'TICKET_CARRIER_VX'),
 (0.00013213941342269362, 'DEST_SMF'),
 (0.0001302917605082204, 'DEST_OAK'),
 (0.00012234003891480722, 'DEST_VPS'),
 (8.621110536850688e-05, 'DEST_MSN'),
 (8.103383697479569e-05, 'DEST_OKC'),
 (7.654213703092353e-05, 'DEST_SDF'),
 (7.006136529220204e-05, 'DEST_SBN'),
 (5.960692494738459e-05, 'DEST_MEM'),
 (5.64526770076579e-05, 'DEST_ABQ')]

In [30]:
X_filtered = X[['YEAR','QUARTER','PASSENGERS','MILES_FLOWN']]

In [31]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [32]:
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
X_scaler = MinMaxScaler().fit(X_train)

In [33]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [34]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model

LogisticRegression()

In [35]:
model.fit(X_train_scaled, y_train)

/Users/tah96/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [36]:
model_train_accuracy = model.score(X_train_scaled, y_train)
model_test_accuracy = model.score(X_test_scaled, y_test)
print(f"Training Data Score: {model_train_accuracy}")
print(f"Testing Data Score: {model_test_accuracy}")

Training Data Score: 0.0344
Testing Data Score: 0.0186