In [12]:
# Read in Pandas

import pandas as pd

In [13]:
# Read in Cleaned Quarterly CSVs to Dataframes

Q12018_df = pd.read_csv('CleanQuarterCSVs/Combined2018Q1')
Q22018_df = pd.read_csv('CleanQuarterCSVs/Combined2018Q2')
Q32018_df = pd.read_csv('CleanQuarterCSVs/Combined2018Q3')
Q42018_df = pd.read_csv('CleanQuarterCSVs/Combined2018Q4')

In [15]:
# Created 2018 Dataframe. Use .append() to add each quarter

YR2018_df = Q12018_df.append(Q22018_df).append(Q32018_df).append(Q42018_df)

# Display data for the year of 2018

YR2018_df

,ITIN_ID,COUPONS,YEAR,ORIGIN_AIRPORT_ID,QUARTER,ORIGIN,DEST_AIRPORT_ID,DEST,TICKET_CARRIER,OPERATING_CARRIER,REPORTING_CARRIER,PASSENGERS,FARE_CLASS,DISTANCE_GROUP,ITIN_GEO_TYPE,ROUNDTRIP,ITIN_FARE,MILES_FLOWN
0,201814103,2,2018,14492,1,RDU,10423,AUS,DL,9E,9E,1.0,X,3,2,1.0,262.0,2324.0
1,201814104,2,2018,14492,1,RDU,10423,AUS,DL,9E,9E,1.0,X,3,2,1.0,269.0,2324.0
2,201814105,2,2018,14492,1,RDU,10423,AUS,DL,9E,9E,1.0,X,3,2,1.0,311.0,2324.0
3,201814106,2,2018,14492,1,RDU,10423,AUS,DL,9E,9E,1.0,X,3,2,1.0,344.0,2324.0
4,201814107,2,2018,14492,1,RDU,10423,AUS,DL,9E,9E,1.0,X,3,2,1.0,362.0,2324.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29807,201845683914,2,2018,14492,4,RDU,14100,PHL,AA,YX,YX,1.0,X,1,2,1.0,744.0,674.0
29808,201845683915,2,2018,14492,4,RDU,14100,PHL,AA,YX,YX,1.0,X,1,2,1.0,754.0,674.0
29809,201845683916,2,2018,14492,4,RDU,14100,PHL,AA,YX,YX,3.0,X,1,2,1.0,796.0,674.0
29810,201845683917,2,2018,14492,4,RDU,14100,PHL,AA,YX,YX,2.0,X,1,2,1.0,869.0,674.0
29811,201845683918,2,2018,14492,4,RDU,14100,PHL,AA,YX,YX,1.0,X,1,2,1.0,910.0,674.0

In [16]:
YR2018_df.to_csv('YR2018_Final_CSV/YR2018Data.csv',index=False)